header {

    font-family: 'Shadows Into Light', cursive;
    color: blueviolet;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 10mm;
    border: 10px dotted violet
}


@media (min-width: 300px) {
    body {
        background-color: papayawhip;
    }
}


p {
    font-family: 'Shadows Into Light', cursive;
    color: blueviolet;
}


ul {
    font-family: 'Shadows Into Light', cursive;
    color: blueviolet;

}

#imagen {
    max-width: 99%;
}

fieldset {
    font-family: 'Shadows Into Light', cursive;
    max-width: 30%
}

h2 {
    margin-left: 800px;
    position: relative;
    bottom: 350px;
    font-family: 'Shadows Into Light', cursive;
    color: blueviolet;
    list-style: square;
}

.perrito3 {
    margin-left: 500px;
    position: relative;
    bottom: 200px;
    width: 200px;
    animation-name: destello;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes destello{ 
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(1.5);
    }
    40%{
        transform: scale(1);
    }
    60%{
        transform: scale(1.5);
    }
    80%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
    
}